@import "node_modules/coffeekraken-sugar/index";
@import "../../../index";

@include s-setup(());
@include s-init();
@include s-classes();

@include s-swiper-classes();

s-swiper[direction="horizontal"] {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;

  .swipe-item {
    width: 100%;

    img {
      @include s-fit();
      object-fit: cover;
    }
  }
}

s-swiper[direction="vertical"] {
  height: 50vh;
  overflow: hidden;

  .swipe-item {
    height: 100%;

    img {
      @include s-fit();
      object-fit: cover;
    }
  }
}
