@import "node_modules/coffeekraken-sugar/index";
@import "../../../index";

@include s-setup(());
@include s-init();
@include s-classes();

body {
}

s-swiper[direction="horizontal"] {
  width: 100%;
  position: relative;
  overflow: hidden;

  .swipe-item {
    width: 80vw;

    img {
      width: 100%;
    }
  }
}

s-swiper[direction="vertical"] {
  height: 50vh;
  overflow: hidden;

  .swipe-item {
    height: 100%;

    img {
      height: 100%;
    }
  }
}
