@import 'node_modules/coffeekraken-sugar/index';
@import '../../../index';

@include s-setup(());
@include s-init();
@include s-classes();

body {
}

s-swiper[axis="x"] {
  width:80%;
  position: relative;
  left: 10%;

  .swipe-item {
    width: 80vw;

    img {
      width:100%;
    }
  }
}

s-swiper[axis="y"] {
  height: 50vh;
  overflow: hidden;

  .swipe-item {
    height: 100%;

    img {
      height: 100%;
    }
  }
}
